.box-school-view .profile-address,
.box-school-view .profile-phone_number {
  font-size: initial;
  margin: initial;
}
.box-school-view .breadcrumb {
  margin-top:10px;
}

.content-header > .breadcrumb,
.breadcrumb {
    float: none!important; 
    background: #d2d6de!important; 
    position: relative!important; 
    padding-left: 10px!important;
    top:0!important;
    right: 0!important;
    margin-top: 5px!important;
}
.btn-youtube {
    color: #fff;
    background-color: #b31217;
    border-color: rgba(0,0,0,0.2);
}
.widget-user-details {
  font-size: 10px;
}
.affix-top {

}
.affix {
  
}
.affix-bottom {

}
.affix-relative {
  position: relative;
}
@media (min-width: 1200px) {
  .affix {
    position: fixed;
    width: 360px;
    top:10px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .affix {
    position: fixed;
    width: 293.33px;
    top:10px;
  }
}



/**** LAYOUT ****/
.list-inline>li {
    padding: 0 10px 0 0;
}
.container-pad {
    padding: 30px 15px;
}


/**** MODULE ****/
.bgc-fff {
    background-color: #fff!important;
}
.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.brdr {
    border: 1px solid #ededed;
}

/* Font changes */
.fnt-smaller {
    font-size: .9em;
}
.fnt-lighter {
    color: #bbb;
}

/* Padding - Margins */
.pad-10 {
    padding: 10px!important;
}
.mrg-0 {
    margin: 0!important;
}
.btm-mrg-10 {
    margin-bottom: 10px!important;
}
.btm-mrg-20 {
    margin-bottom: 20px!important;
}

/* Color  */
.clr-535353 {
    color: #535353;
}




/**** MEDIA QUERIES ****/
@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 180px;
    }

    #property-listings .property-listing .media a {
      max-height: 115px;
    }
}

.    
